
/* footer */

.div-line-1 {
    background-color: white;
    width: 100%;
    height: 0.5px;
    margin-top: 50px;
}

.brand-name-big-footer {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 52px;
    margin: 0;
    margin-top: 10px;
}

.div-brand-name-big-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}



.div-slogan-text-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}


.slogan-text-footer {
    text-align: center;
    color: white;
    font-size: 9px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-top: 5px;
}

.div-line-2 {
    background-color: white;
    width: 100%;
    height: 0.5px;
    margin-top: 15px;
}

.contact-info-footer {
    color: white;
    font-size: 20px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.contact-info-footer2 {
    color: white;
    font-size: 13px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
}

.div-phone-numbers-footer {
    width: 100%;
    display: flex;

}

.contact-info-footer22 {
    color: white;
    font-size: 13px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-top: 15px;
}

.contact-info-footer222 {
    color: white;
    font-size: 13px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
}

.contact-info-footer2222 {
    color: white;
    font-size: 13px;
    font-family: cactus classical serif;
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    margin-top: 5px;
}

.div-phone-numbers-footer1 {
    width: 100%;
    display: flex;
    
}

.div-buttons-social {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.img1-social {
    width: 40px;
    margin-right: 10px;
}

.img2-social {
    width: 40px;
}

.img-logo-footer {
    width: 80px;
    margin-left: 20px;
    margin-top: 40px;
}

.div-pages-paragraph-footer {
    display: flex;
    color: white;
    font-family: cactus classical serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 45px;
}

.pages-paragraph-footer {
    margin-right: 15px;
    text-decoration: underline;
}

.div-pages-and-end-logo {
    display: flex;
    justify-content: space-between;
}



@media  (min-width: 450px) {
    .brand-name-big-footer {
        font-size: 75px;
    }

    .slogan-text-footer {
        font-size: 13px;
    }
    .contact-info-footer {
        font-size: 25px;
        margin-top: 40px;
    }

    .contact-info-footer2 {
        font-size: 17px;
    }
    .contact-info-footer22 {
        font-size: 17px;
    }
    .contact-info-footer222 {
        font-size: 17px;
        
    }

    .contact-info-footer2222 {
        font-size: 17px;
    }

    .img1-social {
        width: 50px;
    }

    .img2-social {
        width: 50px;
    }

    .img-logo-footer {
        width: 100px;
        margin-top: 80px;
    }

    .div-pages-paragraph-footer {
        margin-top: 85px;
        font-size: 15px;
    }

    .pages-paragraph-footer {
        margin-right: 30px;
    }
}





@media  (min-width: 600px) {
    .brand-name-big-footer {
        font-size: 95px;
    }

    .slogan-text-footer {
        font-size: 13px;
    }
    .contact-info-footer {
        font-size: 25px;
        margin-top: 40px;
    }

    .contact-info-footer2 {
        font-size: 17px;
    }
    .contact-info-footer22 {
        font-size: 17px;
    }
    .contact-info-footer222 {
        font-size: 17px;
        
    }

    .contact-info-footer2222 {
        font-size: 17px;
    }

    .img1-social {
        width: 50px;
    }

    .img2-social {
        width: 50px;
    }

    .img-logo-footer {
        width: 100px;
        margin-top: 80px;
    }

    .div-pages-paragraph-footer {
        margin-top: 85px;
        font-size: 18px;
    }

    .pages-paragraph-footer {
        margin-right: 30px;
    }
}


.div-whole-footer-div {
    display: flex;
    justify-content: space-between;
}




.email-adress-footer-input {
    display: flex;
    justify-content: baseline;
    margin-top: 83px;
    margin-right: 40px;
}

input-email-adress::placeholder {
    font-size: 20px;
    font-family: cactus classical serif;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.700);
    margin: 0;
}

input[type=text] {
    border-bottom: white solid 1px;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: cactus classical serif;
    margin: 0;
    font-size: 20px;
  }


  input[type=text]:focus {
    outline: none;
    border-bottom: white solid 1px;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: cactus classical serif;
    margin: 0;
    color: white;
  }


  .email-adress-submit-button {
    font-family: cactus classical serif;
    margin: 0;
  }

  .button-email-arrow-footer {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: white solid 1px;
    font-family: cactus classical serif;
    font-weight: 500;
    font-size: 20px;
    font-family: cactus classical serif;
    margin: 0;
    color: white;
  }


  .paragraph-after-input-text {
    color: white;
    font-family: cactus classical serif;
    font-size: 13px;
    font-weight: 200;
  }


/* .email-adress-footer-input {
    width: 10px;
    height: 50px;
    font-family: cactus classical serif;
    display: flex;
    justify-content: baseline;
}

.input-email-adress::placeholder {
    font-size: 27px;
    letter-spacing: -0.5px;
    font-family: inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.700);
    margin: 0;
    font-family: cactus classical serif;
}

input[type=text] {
    border-bottom: white solid 2px;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 13px;
    padding-left: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: cactus classical serif;
    margin: 0;
  }

  input[type=text]:focus {
    outline: none;
    border-bottom: white solid 2px;
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 13px;
    padding-left: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: cactus classical serif;
    margin: 0;
  }

  .input-email-adress {
    width: 10px;
    margin: 0;
    font-size: 27px;
    letter-spacing: -0.5px;
    font-family: cactus classical serif;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    font-family: cactus classical serif;
    margin: 0;
  }

  .email-adress-submit-button {
    margin-top: 2px;
    font-family: cactus classical serif;
    margin: 0;
  }


  .button-email-arrow-footer {
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: white solid 2px;
    font-family: cactus classical serif;
    font-weight: 500;
    font-size: 35px;
    font-family: cactus classical serif;
    margin: 0;
  }
  

.about-submitting-email-footer-p {
    font-size: 15px;
    font-family: cactus classical serif;
    letter-spacing: -0.5px;
    margin: 0;
    margin-left: 40px;
    margin-top: 2px;
    font-family: cactus classical serif;
    margin: 0;
}

.rigth-section-footer-div {
    width: 50%;
    margin-top: 40px;
    font-family: cactus classical serif;
    margin: 0;
}

.rigth-section-footer-div-top1 {
    display: flex;
    justify-content: baseline;
    width: 100%;
    font-family: cactus classical serif;
    margin: 0;
}

.button-email-arrow-footer {
    color: white;
    font-family: cactus classical serif;
    margin: 0;
} */











@media  (min-width: 700px) {
    .brand-name-big-footer {
        font-size: 115px;
    }

    .slogan-text-footer {
        font-size: 15px;
    }
    .contact-info-footer {
        font-size: 26px;
        margin-top: 45px;
    }

    .contact-info-footer2 {
        font-size: 18px;
    }
    .contact-info-footer22 {
        font-size: 18px;
    }
    .contact-info-footer222 {
        font-size: 18px;
        
    }

    .contact-info-footer2222 {
        font-size: 18px;
    }

    .img1-social {
        width: 55px;
    }

    .img2-social {
        width: 55px;
    }

    .img-logo-footer {
        width: 130px;
        margin-top: 80px;
    }

    .div-pages-paragraph-footer {
        margin-top: 90px;
        font-size: 19px;
    }

    .pages-paragraph-footer {
        margin-right: 30px;
    }

    .button-email-arrow-footer {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: white solid 1px;
        font-family: cactus classical serif;
        font-weight: 500;
        font-size: 25px;
        font-family: cactus classical serif;
        margin: 0;
        color: white;
      }

      input[type=text] {
        border-bottom: white solid 1px;
        background: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-family: cactus classical serif;
        margin: 0;
        font-size: 25px;
      }

      .paragraph-after-input-text {
        color: white;
        font-family: cactus classical serif;
        font-size: 15px;
        font-weight: 200;
      }
}






@media  (min-width: 900px) {
    .brand-name-big-footer {
        font-size: 145px;
    }

    .slogan-text-footer {
        font-size: 18px;
    }
    .contact-info-footer {
        font-size: 28px;
        margin-top: 50px;
    }

    .contact-info-footer2 {
        font-size: 19px;
    }
    .contact-info-footer22 {
        font-size: 19px;
    }
    .contact-info-footer222 {
        font-size: 19px;
        
    }

    .contact-info-footer2222 {
        font-size: 19px;
    }

    .img1-social {
        width: 55px;
    }

    .img2-social {
        width: 55px;
    }

    .img-logo-footer {
        width: 130px;
        margin-top: 110px;
    }

    .div-pages-paragraph-footer {
        margin-top: 90px;
        font-size: 23px;
    }

    .pages-paragraph-footer {
        margin-right: 70px;
    }

    .button-email-arrow-footer {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: white solid 1px;
        font-family: cactus classical serif;
        font-weight: 500;
        font-size: 35px;
        font-family: cactus classical serif;
        margin: 0;
        color: white;
      }

      input[type=text] {
        border-bottom: white solid 1px;
        background: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-family: cactus classical serif;
        margin: 0;
        font-size: 35px;
      }

      .paragraph-after-input-text {
        color: white;
        font-family: cactus classical serif;
        font-size: 20px;
        font-weight: 200;
      }
}







@media  (min-width: 1200px) {
    .brand-name-big-footer {
        font-size: 190px;
    }

    .slogan-text-footer {
        font-size: 25px;
    }
    .contact-info-footer {
        font-size: 30px;
        margin-top: 60px;
        margin-left: 50px;
    }

    .contact-info-footer2 {
        font-size: 20px;
        margin-left: 50px;
    }
    .contact-info-footer22 {
        font-size: 20px;
        margin-left: 50px;
    }
    .contact-info-footer222 {
        font-size: 20px;
        margin-left: 50px;
        
    }

    .contact-info-footer2222 {
        font-size: 20px;
        margin-left: 50px;
    }

    .img1-social {
        width: 60px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .img2-social {
        width: 60px;
        margin-top: 10px;
    }

    .img-logo-footer {
        width: 150px;
        margin-top: 110px;
        margin-left: 50px;
    }

    .div-pages-paragraph-footer {
        margin-top: 100px;
        font-size: 25px;
    }

    .pages-paragraph-footer {
        margin-right: 80px;
    }

    .button-email-arrow-footer {
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: white solid 1px;
        font-family: cactus classical serif;
        font-weight: 500;
        font-size: 50px;
        font-family: cactus classical serif;
        margin: 0;
        color: white;
      }

      input[type=text] {
        border-bottom: white solid 1px;
        background: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        background-repeat: no-repeat;
        box-sizing: border-box;
        font-family: cactus classical serif;
        margin: 0;
        font-size: 50px;
      }

      .paragraph-after-input-text {
        color: white;
        font-family: cactus classical serif;
        font-size: 20px;
        font-weight: 200;
      }

    }



    @media  (min-width: 1700px) {
        .brand-name-big-footer {
            font-size: 230px;
        }
    
        .slogan-text-footer {
            font-size: 45px;
        }
        .contact-info-footer {
            font-size: 50px;
            margin-top: 60px;
            margin-left: 50px;
        }
    
        .contact-info-footer2 {
            font-size: 30px;
            margin-left: 50px;
        }
        .contact-info-footer22 {
            font-size: 30px;
            margin-left: 50px;
        }
        .contact-info-footer222 {
            font-size: 30px;
            margin-left: 50px;
            
        }
    
        .contact-info-footer2222 {
            font-size: 30px;
            margin-left: 50px;
        }
    
        .img1-social {
            width: 70px;
            margin-left: 30px;
            margin-top: 15px;
        }
    
        .img2-social {
            width: 70px;
            margin-top: 15px;
        }
    
        .img-logo-footer {
            width: 170px;
            margin-top: 110px;
            margin-left: 50px;
        }
    
        .div-pages-paragraph-footer {
            margin-top: 100px;
            font-size: 35px;
        }
    
        .pages-paragraph-footer {
            margin-right: 80px;
        }
    
        .button-email-arrow-footer {
            background: none;
            border-radius: 0;
            border: none;
            border-bottom: white solid 1px;
            font-family: cactus classical serif;
            font-weight: 500;
            font-size: 70px;
            font-family: cactus classical serif;
            margin: 0;
            color: white;
          }
    
          input[type=text] {
            border-bottom: white solid 1px;
            background: none;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding-left: 0;
            background-repeat: no-repeat;
            box-sizing: border-box;
            font-family: cactus classical serif;
            margin: 0;
            font-size: 70px;
          }
    
          .paragraph-after-input-text {
            color: white;
            font-family: cactus classical serif;
            font-size: 20px;
            font-weight: 200;
          }
    
        }




        @media  (min-width: 2100px) {
            .brand-name-big-footer {
                font-size: 290px;
            }
        
            .slogan-text-footer {
                font-size: 45px;
            }
            .contact-info-footer {
                font-size: 60px;
                margin-top: 60px;
                margin-left: 50px;
            }
        
            .contact-info-footer2 {
                font-size: 40px;
                margin-left: 50px;
            }
            .contact-info-footer22 {
                font-size: 40px;
                margin-left: 50px;
            }
            .contact-info-footer222 {
                font-size: 40px;
                margin-left: 50px;
                
            }
        
            .contact-info-footer2222 {
                font-size: 40px;
                margin-left: 50px;
            }
        
            .img1-social {
                width: 85px;
                margin-left: 30px;
                margin-top: 15px;
            }
        
            .img2-social {
                width: 85px;
                margin-top: 15px;
            }
        
            .img-logo-footer {
                width: 230px;
                margin-top: 110px;
                margin-left: 50px;
            }
        
            .div-pages-paragraph-footer {
                margin-top: 100px;
                font-size: 45px;
            }
        
            .pages-paragraph-footer {
                margin-right: 80px;
            }
        
            .button-email-arrow-footer {
                background: none;
                border-radius: 0;
                border: none;
                border-bottom: white solid 1px;
                font-family: cactus classical serif;
                font-weight: 500;
                font-size: 90px;
                font-family: cactus classical serif;
                margin: 0;
                color: white;
              }
        
              input[type=text] {
                border-bottom: white solid 1px;
                background: none;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                padding-left: 0;
                background-repeat: no-repeat;
                box-sizing: border-box;
                font-family: cactus classical serif;
                margin: 0;
                font-size: 90px;
              }
        
              .paragraph-after-input-text {
                color: white;
                font-family: cactus classical serif;
                font-size: 35px;
                font-weight: 200;
              }
        
            }







            @media  (min-width: 2560px) {
                .brand-name-big-footer {
                    font-size: 390px;
                }
            
                .slogan-text-footer {
                    font-size: 65px;
                }
                .contact-info-footer {
                    font-size: 80px;
                    margin-top: 60px;
                    margin-left: 50px;
                }
            
                .contact-info-footer2 {
                    font-size: 60px;
                    margin-left: 50px;
                }
                .contact-info-footer22 {
                    font-size: 60px;
                    margin-left: 50px;
                }
                .contact-info-footer222 {
                    font-size: 60px;
                    margin-left: 50px;
                    
                }
            
                .contact-info-footer2222 {
                    font-size: 60px;
                    margin-left: 50px;
                }
            
                .img1-social {
                    width: 95px;
                    margin-left: 30px;
                    margin-top: 15px;
                }
            
                .img2-social {
                    width: 95px;
                    margin-top: 15px;
                }
            
                .img-logo-footer {
                    width: 290px;
                    margin-top: 180px;
                    margin-left: 50px;
                }
            
                .div-pages-paragraph-footer {
                    margin-top: 180px;
                    font-size: 65px;
                }
            
                .pages-paragraph-footer {
                    margin-right: 80px;
                }
            
                .button-email-arrow-footer {
                    background: none;
                    border-radius: 0;
                    border: none;
                    border-bottom: white solid 1px;
                    font-family: cactus classical serif;
                    font-weight: 500;
                    font-size: 115px;
                    font-family: cactus classical serif;
                    margin: 0;
                    color: white;
                  }
            
                  input[type=text] {
                    border-bottom: white solid 1px;
                    background: none;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    padding-left: 0;
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    font-family: cactus classical serif;
                    margin: 0;
                    font-size: 115px;
                  }
            
                  .paragraph-after-input-text {
                    color: white;
                    font-family: cactus classical serif;
                    font-size: 55px;
                    font-weight: 200;
                  }
            
                }


.button-book-visit:hover {
    background-color: black;
    border: black;
    color: white;
}

.button-book-visit {
    transition-duration: 0.5s;
}







.animated {
    opacity: 0;
    transition: all 0.7s ease-out;
}

.from-right {
    transform: translateX(100px);
}

.from-left {
    transform: translateX(-100px);
}

.from-top {
    transform: translateY(-50px);
}

.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}